// $backgroundGrey: rgb(240, 240, 240);
$backgroundGrey: rgb(212, 212, 212);
$backgroundDarkGrey: rgb(51, 51, 51);
$backgroundGreen: rgb(14, 175, 22);
$backgroundYellow: rgb(240, 188, 17);
$backgroundNavbar: #000000;
$backgroundLightGrey: #f3f3f3;
$colorfontGrey: #4d4d4d;
$colorFontRed: rgb(156, 56, 56)