$backgroundGrey: rgb(240, 240, 240);
$backgroundDarkGrey: rgb(51, 51, 51);
$backgroundGreen: rgb(14, 175, 22);
$backgroundYellow: rgb(250, 236, 45);

$backgroundNavbar: #0bbed6;
$searchButtonColor: rgb(240, 106, 17);