.sidebar-favorites{
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.sidebar-moviecard-image img {
    width: 90%;
    height: 60%;
}

.sidebar-favorite-movie {
    margin-bottom: 5px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}

.sidebar-favorite-header {
    font-size: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.sidebar-favorite-header button{
    height: 25px;
    border-radius: 4px;
}