@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.content {
  display: flex;  
  flex-flow: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;

  h1 {
    align-self: flex-start;
    text-align: left;
  }
}

.summary p{
  text-align: justify;
  color: #4d4d4d;
}

.cast-link {
  margin-right: 2px;
}