/*
* Search Results
*/
.movies {
  display: flex;
  flex-flow: row wrap;
}

.movie {
  flex: 1 1 25%;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 10px;
  padding: 25px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  background-color: rgb(255, 238, 0);
}
.movie .information {
  flex: 1 1 40%;
  padding: 0 14px;
}
.movie .imgage img {
  flex: 1 1 100%;
}

.title-favorite {
  display: flex;
  align-items: center;
}

.title-favorite a {
  text-decoration: none;
  color: #555
}

.title-favorite a:hover {
  color: #000
}

.title-favorite h3 {
  flex: 1 1 70%;
}

.title-favorite button {
  flex: 1 1 10px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.title-favorite button:hover  
 {
  background-color: rgb(226, 226, 226);
  border: none;
  outline: none;
}
.title-favorite button:focus {
  background-color: #fff;
  border: none;
  outline: none;
}

@media only screen and (max-width: 448px) {
  .search-form {
    margin-bottom: 70px;
  }
  .movie {
    margin: 20px 10px;
  }
  .movie .information {
    flex: 1 1 100%;
    padding: 0 14px;
  }
  .movie .image {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 449px) and (max-width: 900px) {
  .search-form {
    margin-bottom: 20px;
  }
  .movie {
    margin: 20px 10px;
  }
  .movie .information {
    flex: 1 1 100%;
    padding: 0 14px;
  }
  .movie .image {
    flex: 0 0 100%;
  }
}
