@import "./variables";
// /*
// * Search Results
// */
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.search-result-number {
  grid-column: 2 / 12;
  padding: 5px 0px;
  color: #fff;
}

.movies {
  grid-column: 2 / 12;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, (100% / 4));
}

.movie {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.movie .information {
  flex: 1 1 40%;
  padding: 0 14px;
}
.movie .image {
  width: 100%;
}

.title-favorite {
  display: flex;
  align-items: center;
}

.title-favorite a {
  text-decoration: none;
  color: #555;
}

.title-favorite a:hover {
  color: #000;
}

.title-favorite h3 {
  flex: 1 1 70%;
}


// @media only screen and (min-width: 449px) and (max-width: 900px) {
//   .search-form {
//     margin-bottom: 20px;
//   }
//   .movie {
//     margin: 20px 10px;
//   }
//   .movie .information {
//     flex: 1 1 100%;
//     padding: 0 14px;
//   }
//   .movie .image {
//     flex: 0 0 100%;
//   }
// }

//// NEW
.movie {
  position: relative;
  z-index: 1;
}

.image {
  position: relative;
  text-align: left;
  color: white;
  width: 150px;
}

.info {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 4px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 1.2rem;
}

.info > * {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  // .search-form {
  //   margin-bottom: 70px;
  // }
  // .movie {
  //   margin: 20px 10px;
  // }
  // .movie .information {
  //   flex: 1 1 100%;
  //   padding: 0 14px;
  // }
  // .movie .image {
  //   flex: 0 0 100%;
  // }

  // .movies {
  //   display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  // }

  // .image {
  //   width: 250px;

  //   img {
  //     width: 100%;
  //   }
  // }
}
