@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");
@import "./variables";

.content {
  // background-image: url("http://haintheme.com/demo/html/bustter/images/uploads/hero-bg.jpg");
  background-size: 100% 598px;
  background-repeat: no-repeat;
  background-position: top 100%;
  min-height: 598px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto;
  position: relative;
}

.movieImage {
  grid-column: 2 / 5;
  grid-row: 2 / -1;
  height: 500px;
  background-color: bisque;
  position: sticky;
  top: 10px;
}

.movieInfo {
  background-color: #222;
  padding: 25px;
  grid-column: 5 / 12;
  grid-row: 2 / -1;
  min-height: calc(100vh - 165px);
  font-weight: 600;
  color: #fff;
  & > * {
    margin-bottom: 30px;
  }
  .movieTitle {
    font-size: 2rem;
  }
  .movieTitle .year {
    color: #999;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 5px;
  }

  .favorite {
  }
  .favorite button {
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 1.2rem;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .favorite .favoriteButtonText {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .summary {
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    color: #999;
  }

  .cast {
  }
  .cast .castHeading {
    font-size: 1.5rem;
    border-bottom: 1px solid #999;
    display: block;
    padding: 5px 15px;
  }
  .cast .castCard {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .cast .castCard .castImage {
    grid-column: 1/3;
  }
  .cast .castCard .castInfo {
    grid-column: 3/-1;
    margin: 0 20px;
    & > * {
      margin-bottom: 25px;
    }
  }
  .cast .castCard .castInfo .personName {
    font-size: 1.2rem;
  }
  .cast .castCard .castInfo .characterName {
    background-color: $backgroundYellow;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
  }

  .birthday {
    padding: 5px 10px;
    margin-left: 5px;
    color: #999;
  }

}

// .content {
//   display: flex;
//   flex-flow: column;
//   align-items: center;
//   font-family: "Quicksand", sans-serif;

//   h1 {
//     border-top: 1px $backgroundGrey solid;
//     border-bottom: 1px $backgroundGrey solid;
//     text-align: center;
//     color: $colorfontGrey;
//     width: 100%;
//   }
// }

// .image-container {
//   width: inherit;
//   position: relative;
//   border: none;

//   img {
//     width: 100%;
//   }

//   .image-network {
//     position: absolute;
//     bottom: 0px;
//     background-color: white;
//     min-width: 100px;
//     padding: 5px 15px;
//     height: 30px;
//     text-align: center;
//     color: #4d4d4d;
//     font-style: italic;
//   }
// }

// .summary {
//   margin-bottom: 30px;
//   p {
//     color: #4d4d4d;
//   }
// }

// .cast-heading {
//   // border-top: 1px $backgroundGrey solid;
//   // border-bottom: 1px $backgroundGrey solid;
// }

// .casts {
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   flex-flow: row wrap;
//   width: 100%;
//   justify-content: flex-start;
//   margin-bottom: 10px;
//   border-bottom: 1px solid $backgroundGrey;
//   padding-bottom: 10px;
// }
// .casts:last-child {
//   border-bottom: none;
// }
// .cast-info-container {
//   flex: 1 1 60%;
//   padding: 0 10px;
//   font-size: 0.9rem;
// }
// .cast-image-container {
//   flex: 1 1 40%;
//   img {
//     width: 100%;
//   }
// }

// .cast-info-title {
//   text-decoration: none;
//   color: #000;
//   p {
//     margin-bottom: 30px;
//   }
// }
// .cast-info-title:hover {
//   color: $backgroundYellow;
// }

// .cast-info-bullet {
//   color: $backgroundYellow;
//   font-weight: 700;
//   padding-left: 5px;
// }

// .related-movies {
//   // border: 1px solid blue;
//   width: 60%;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
// }

// .related-movie {
//   flex: 1 1 100%;
//   position: relative;
//   margin-bottom: 5px;
//   img {
//     width: 100%;
//   }
//   .info {
//     position: absolute;
//     font-size: 1.2rem;
//     font-weight: 400;
//     bottom: 0;
//     width: 100%;
//     background-color: rgba(0, 0, 0, 0.7);
//     color: #fff;
//     padding: 0 10px;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 900px) {
//   .casts {
//     display: flex;
//     flex-flow: row wrap;
//     width: 90%;
//     justify-content: flex-start;
//     margin-bottom: 10px;
//     border-bottom: 1px solid $backgroundGrey;
//     padding-bottom: 10px;
//   }
//   .cast-info-container {
//     margin-right: auto;
//     flex: 1 1 60%;
//   }
//   .cast-image-container {
//     flex: 1 0 200px;
//     img {
//       height: auto;
//     }
//   }
//   .related-movies {
//     width: 90%;
//   }

//   .related-movie {
//     flex: 1 1 20%;
//     margin-right: 5px;
//     margin-left: 5px;
//   }
// }

// @media only screen and (min-width: 901px) and (max-width: 1401px) {
//   .casts {
//     width: 90%;
//   }
//   .cast-info-container {
//     font-size: 1.2rem;
//   }
//   .cast-info-container {
//     margin-right: auto;
//     flex: 1 1 70%;
//   }
//   .cast-image-container {
//     flex: 1 0 200px;
//     img {
//       height: auto;
//     }
//   }

//   .related-movies {
//     width: 80%;
//   }

//   .related-movie {
//     flex: 1 1 20%;
//     margin-right: 10px;
//     margin-left: 10px;
//   }
// }

// @media only screen and (min-width: 1400px) {
//   .casts {
//     width: 90%;
//   }
//   .cast-info-container {
//     font-size: 1.2rem;
//   }
//   .cast-info-container {
//     margin-right: auto;
//     flex: 1 1 70%;
//   }
//   .cast-image-container {
//     flex: 1 0 200px;
//     img {
//       height: auto;
//     }
//   }

//   .related-movies {
//     width: 60%;
//   }

//   .related-movie {
//     flex: 1 1 20%;
//     margin-right: 10px;
//     margin-left: 10px;
//   }
// }
