@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

// import scss variables
@import "./variables";

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 8px;
}
.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: $backgroundNavbar;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-item {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.brand {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-item:hover {
  color: rgb(182, 182, 182);
}

.nav-item:focus {
  color: rgb(156, 56, 56);
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 7fr) 1fr;
    align-items: center;
  }

  h1 {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin-bottom: 0;
  }

  .nav-item {
    opacity: 1;
    margin-left: 0.5em;
  }
}
