@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

.main-nav {
  display: flex;
  padding: 0 20px;
}

.main-nav h1 {
  margin-right: auto;
}

.brand {
  text-decoration: none;
  color: #111;
}

.main-nav div {
  display: flex;
  align-items: center;
  list-style: none;
  color: #444;
}

.nav-item {
  flex: 1 1 100%;
  margin-left: 10px;
  text-decoration: none;
  color: #555;
}

.nav-item:hover {
  color: #888;
}

.nav-item:focus {
    color: #111
}
