@import "./variables";

form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: calc(100% - 20px);
  border-radius: 5px;
  background-color: #fff;
}

input {
  flex: 1 1 70%;
  padding: 15px 25px;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  flex: 1 1 10%;
  height: 35px;
  margin: 7px 7px 0 0;
  background-color: $searchButtonColor;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
