@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/*
* Search Form
*/
.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: px solid #222;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
}
.search-form input {
  flex: 1 1 70%;
  padding: 15px 25px;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
}
.search-form button {
  flex: 1 1 10%;
  height: 40px;
  margin: 5px 5px 0 0;
  background-color: rgb(255, 238, 0);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.search-form input:hover,
.search-form input:focus {
  outline: none;
}
.search-form button:hover {
  background-color: rgb(255, 241, 51);
}

/*
* Search Results
*/
.search-results {
  display: flex;
  flex-flow: row wrap;
}

.search-result {
  flex: 1 1 30%;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 10px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  background-color: rgb(255, 238, 0);
}
.search-result .information {
  flex: 1 1 50%;
  padding: 0 14px;
}
.search-result .imgage img {
  flex: 1 1 100%;
}

.title-favorite {
  display: flex;
  align-items: center
}

.title-favorite h3 {
  flex: 1 1 70%;
}

.title-favorite button {
  flex: 1 1 30%;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.title-favorite button:hover
/* .title-favorite button:active, */

  {
  background-color: #eee;
  border: none;
  outline: none;
}
.title-favorite button:focus {
  background-color: #fff;
  border: none;
  outline: none;
}

@media only screen and (max-width: 448px) {
  .search-form {
    margin-bottom: 70px;
  }
  .search-result {
    margin: 20px 10px;
  }
  .search-result .information {
    flex: 1 1 100%;
    padding: 0 14px;
  }
  .search-result .image {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 449px) and (max-width: 900px) {
  .search-form {
    margin-bottom: 20px;
  }
  .search-result {
    margin: 20px 10px;
  }
  .search-result .information {
    flex: 1 1 100%;
    padding: 0 14px;
  }
  .search-result .image {
    flex: 0 0 100%;
  }
}
