@import "./variables";

.sidebar {
  display: flex;
  flex-flow: column wrap;
}

.searchPeople {
  background-color: #222;
  padding: 10px 25px 30px;

  h2 {
    color: $backgroundGrey;
  }

  .form {
    position: relative;
    height: 45px;
  }

  .input {
    background-color: $backgroundDarkGrey;
    font-size: 1.1rem;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    color: $navbarFontColor;
  }
  .button {
    position: absolute;
    font-size: 1.6rem;
    right: 5px;
    top: 10px;
    background-color: $backgroundDarkGrey;
    border: none;
    outline: none;
    color: $navbarFontColor;
  }
}

.scheduleBasedOnNetwork {
  max-height: 2930px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  h2 {
    color: #fff;
  }
  .eachNetwork {
    background-color: #222;
    margin-bottom: 30px;
  }
  .netowrkTitle {
    background: $backgroundYellow;
    height: 30px;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 25px 25px;
  }
  .networkDetails {
    color: #999999;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .networkDetails .time {
    grid-column: 1/3;
  }
  .networkDetails .name {
    grid-column: 3/-1;
  }
}
