// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

@import "./variables";

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
}

.header {
  grid-column: 2/12;
  color: #fff;
  display: flex;
  align-items: center;
  h2 {
    width: auto;
  }
}
.select {
  height: 30px;
  font-size: 1rem;
  margin-left: 10px;
  background: #222;
  color: $navbarFontColor;
  line-height: 1.3;
  padding: 0em 2em 0em 1em;
}
.select:focus {
  border-color: #aaa;
  color: #fff;
}
.select option {
  height: 100%;
  font-size: 1.2rem;
}

.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.carouselProvider {
  grid-column: 2/12;
}
.sliderContainer {
  position: relative;
  .buttonBack {
    position: absolute;
    top: 200px;
    left: -25px;
    background: $backgroundYellow;
    border: none;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-right: 9px;
  }
  .buttonNext {
    position: absolute;
    top: 200px;
    background: $backgroundYellow;
    border: none;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    right: -25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-left: 9px;
  }
}

.details {
  margin-top: 30px;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
}

.details .detailsMovies {
  grid-area: movies;
  grid-column: 1/9;
}
.details .sidebar {
  grid-area: sidebar;
  grid-column: 9/13;
}
.details .detailsMovies .movie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #222;
  color: $colorfontGrey;
  margin-bottom: 40px;
}

.details .detailsMovies .movie .detailsImage {
  grid-column: 1/4;
  height: 100%;
}
.details .detailsMovies .movie .detailsImage img {
  height: 100%;
}

.details .detailsMovies .movie .movieMain {
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 50px;
}

.details .detailsMovies .movie .movieMain .detailsUp {
  grid-column: 1 / -1;
  overflow-y: scroll;
}

.details .detailsMovies .movie .detailsInfo {
  font-family: "Montserrat", sans-serif;
  grid-column: 1/13;
  padding: 20px 40px;
  h2 {
    color: #fff;
    margin-right: auto;
  }
}

.details .detailsMovies .movie .detailsInfo .titleAndStars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.details .detailsMovies .movie .detailsInfo .titleAndStars h2 {
  grid-column: 1/3;
  justify-self: start;
}
.details .detailsMovies .movie .detailsInfo .titleAndStars .stars {
  grid-column: 4/-1;
}

.stars {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.stars-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.detailsBelow {
  grid-column: 1/13;
  border-top: solid 1px $colorfontGrey;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.detailsBelow div:nth-child(1) {
  grid-column: 1 / 3;
}
.detailsBelow div:nth-child(2) {
  grid-column: 3 / -1;
  justify-self: end;
}

.detailsBelow .genres {
  padding: 0 3px;
  background-color: $backgroundYellow;
  margin: 0 5px;
  padding: 3px;
  border-radius: 2px;
  color: #000;
  font-weight: 600;
}
