@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

@import "./variables";

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
}

.header {
  grid-column: 2/12;
  color: #fff;
  display: flex;
  align-items: center;
  h2 {
    width: auto;
  }
}
.select {
  height: 30px;
  font-size: 1rem;
  margin-left: 10px;
  background: #222;
  color: $navbarFontColor;
  line-height: 1.3;
  padding: 0em 2em 0em 1em;
}
.select:focus {
  border-color: #aaa;
  color: #fff;
}
.select option {
  height: 100%;
  font-size: 1.2rem;
}

.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.carouselProvider {
  grid-column: 2/12;
}
.sliderContainer {
  position: relative;
  .buttonBack {
    position: absolute;
    top: 200px;
    left: -25px;
    background: $backgroundYellow;
    border: none;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-right: 9px;
  }
  .buttonNext {
    position: absolute;
    top: 200px;
    background: $backgroundYellow;
    border: none;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    right: -25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-left: 9px;
  }
}

.details {
  margin-top: 30px;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
    "movies movies movies sidebar";
    // "sidebar sidebar sidebar sidebar";
  grid-gap: 25px;
}

.details .detailsMovies {
  grid-area: movies;
}
.details .sidebar {
  grid-area: sidebar;
  border: 1px blue solid;
}
.details .detailsMovies .movie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #222;
  color: $colorfontGrey;
  margin-bottom: 40px;
}

.details .detailsMovies .movie .detailsImage {
  grid-column: 1/4;
  height: 100%;
}
.details .detailsMovies .movie .detailsImage img {
  height: 100%;
}

.details .detailsMovies .movie .movieMain {
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 50px;
}

.details .detailsMovies .movie .movieMain .detailsUp {
  grid-column: 1 / -1;
  overflow-y: scroll;
}

.details .detailsMovies .movie .detailsInfo {
  font-family: "Roboto", sans-serif;
  grid-column: 1/13;
  padding: 20px 40px;
  h2 {
    color: #fff;
    margin-right: auto;
  }
}

.details .detailsMovies .movie .detailsInfo .titleAndStars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.details .detailsMovies .movie .detailsInfo .titleAndStars h2 {
  grid-column: 1/3;
  justify-self: start;
}
.details .detailsMovies .movie .detailsInfo .titleAndStars .stars {
  grid-column: 4/-1;
}

.stars {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.stars-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.detailsBelow {
  grid-column: 1/13;
  border-top: solid 1px $colorfontGrey;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.detailsBelow div:nth-child(1) {
  grid-column: 1 / 3;
}
.detailsBelow div:nth-child(2) {
  grid-column: 3 / -1;
  justify-self: end;
}

.detailsBelow .genres {
  padding: 0 3px;
  background-color: $backgroundYellow;
  margin: 0 5px;
  padding: 3px;
  border-radius: 2px;
  color: #000;
  font-weight: 600;
}

// .content {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-auto-rows: auto;
//   grid-template-areas:
//     "header header header header"
//     "main main main main"
//     "aside aside aside aside";
//   grid-gap: 5px;
// }
// .content > * {
//   // border: red 1px solid;
// }
// .header {
//   grid-area: header;
//   text-align: center;
//   padding: 30px;
//   font-size: 1.5rem;
// }
// .main {
//   grid-area: main;
//   display: flex;
//   flex-flow: row wrap;
// }
// .aside {
//   grid-area: aside;
//   width: 100%;
//   height: auto;
//   display: flex;
//   flex-flow: column wrap;
//   border: 1px solid #999;
//   border-radius: 5px;
//   width: 95%;
//   justify-content: center;
//   // margin: 0 10px;
//   .episodeInfo {
//     background-color: $backgroundLightGrey;
//     border-radius: 3px;
//     padding: 10px;
//     margin: 10px;
//     justify-self: center;
//   }
// }
// .movie {
//   position: relative;
//   flex: 1 1 10%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 10px;
//   .summary {
//     text-align: center;
//     color: $colorfontGrey;
//   }
//   .title {
//     background-color: $backgroundYellow;
//     width: 300px;
//     height: 42px;
//     padding: 5px;
//   }
// }

// .movieImageContainer {
//   max-width: 300px;
//   overflow: hidden;
//   position: relative;
//   img {
//     flex: 1 1 100%;
//   }
//   .movieImageFrame::after {
//     content: "";
//     width: 91%;
//     height: 88.6%;
//     position: absolute;
//     top: 5.3%;
//     left: 4.3%;
//     border: 1px solid rgba(255, 255, 255, 0.5);
//   }
// }

// /* Colorize-zoom Container */
// .img-hover-zoom--colorize img {
//   transition: transform 0.5s, filter 1s ease-in-out;
//   filter: grayscale(60%);
// }

// /* The Transformation */
// .img-hover-zoom--colorize:hover img {
//   filter: grayscale(0);
//   transform: scale(1.03);
// }

// @media screen and (min-width: 768px) {
//   .content {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-auto-rows: auto;
//     grid-template-areas:
//       "header header header header"
//       "main main main aside"
//       "main main main aside";
//   }
//   .header {
//     text-align: left;
//   }
// }

// // SELECT
// .select {
//   display: inline-block;
//   margin-left: 10px;
//   font-size: 16px;
//   font-family: sans-serif;
//   font-weight: 700;
//   color: #444;
//   line-height: 1.3;
//   padding: 0.6em 1.4em 0.5em 0.8em;
//   // width: 100%;
//   max-width: 100%;
//   box-sizing: border-box;
//   margin: 0;
//   border: 1px solid #aaa;
//   box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
//   border-radius: 0.5em;
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   appearance: none;
//   background-color: #fff;
//   background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
//     linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
//   background-repeat: no-repeat, repeat;
//   background-position: right 0.7em top 50%, 0 0;
//   background-size: 0.65em auto, 100%;
// }
// .select::-ms-expand {
//   display: none;
// }
// .select:hover {
//   border-color: #888;
// }
// .select:focus {
//   border-color: #aaa;
//   // box-shadow: 0 0 1px 3px $backgroundYellow;
//   box-shadow: 0 0 0 3px -moz-mac-focusring;
//   color: #222;
//   outline: none;
// }
// .select option {
//   font-weight: normal;
// }
